{
  "include": [
    "src/**/*.test.js"
  ],
  "require": [
    "babel-register"
  ],
  "reporters": [
    "text-lcov | coverage"
  ],
  "extension": [
    ".jsx",
    ".es6"
  ],
  "sourceMap": false,
  "instrument": false
}
